.wrapper {
    margin-top: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    padding: 25px;
  }
  
  .favorite_food {
    border-radius: 15px;
    position: relative; /* Rasm va overlay ustida ishlash uchun */
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #FFFFFF;
  }
  
 .favorite_food h1 {
    position: relative; 
    z-index: 2; /* Overlaydan yuqoriroq qilish */
    margin-top: 0;
    font-size: 2rem;
  }
  .favorite_food p{
    position: relative; 
    z-index: 2; /* Overlaydan yuqoriroq qilish */ 
    font-size: 12px;
    line-height: 13px;
    margin: 15px 0;
  }